<form>
    <div class="container">
        <label>Username : </label>
        <input type="text" placeholder="Enter Username" name="username" required />
        <label>Password : </label>
        <input type="password" placeholder="Enter Password" name="password" required />
        <button onsubmit="handleSubmit()" type="submit">Sign Up!</button>
    </div>
</form>